.btn {
  align-items: center;
  background-color: #393b43;
  border-radius: 4px;
  color: #eaff6a;
  display: flex;
  flex-direction: row-reverse;
  font-family: Untitled Sans;
  justify-content: center;
  line-height: 26px;
  padding: 7px 20px;
}
